<!--
<h1 mat-dialog-title>{{ modalTitle }}</h1>
<div mat-dialog-content>
  <app-create-update-employee [employee]="employee" (submittedEmployee)="feedbackCreateUpdate($event)" *ngIf="activateCreateUpdateEmployeesComponent"></app-create-update-employee>
</div>
<div mat-dialog-actions>
  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"
          (click)="modalClose()" id="create-update-modal-close">
  </button>
</div>
    -->

<mat-form-field id="employeeFilter" color="accent">
  <mat-label>Filtrar empleados</mat-label>
  <input matInput (keyup)="applyFilter($event)" placeholder="Filtrar por..." #input>
</mat-form-field>

<!-- Add employee trigger modal -->
<button mat-icon-button type="button" color="accent"  matTooltip="Agregar empleado" aria-label="Crear empleado" (click)="modalCreate()" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
  <mat-icon>person_add</mat-icon>
</button>


<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

  <ng-container matColumnDef="ID">
    <th mat-header-cell *matHeaderCellDef> ID </th>
    <td mat-cell *matCellDef="let employee"> {{employee.EmployeeID}} </td>
  </ng-container>


  <ng-container matColumnDef="Nombres">
    <th mat-header-cell *matHeaderCellDef> Nombres </th>
    <td mat-cell *matCellDef="let employee"> {{employee.FirstName}} </td>
  </ng-container>


  <ng-container matColumnDef="Apellidos">
    <th mat-header-cell *matHeaderCellDef> Apellidos </th>
    <td mat-cell *matCellDef="let employee"> {{employee.LastName}} </td>
  </ng-container>


  <ng-container matColumnDef="Teléfono">
    <th mat-header-cell *matHeaderCellDef> Teléfono </th>
    <td mat-cell *matCellDef="let employee"> {{employee.HomePhone}} </td>
  </ng-container>

  <ng-container matColumnDef="Acciones">
    <th mat-header-cell *matHeaderCellDef></th>
    <td mat-cell *matCellDef="let employee">
      <button mat-icon-button class="action-btn" aria-label="Editar empleado" matTooltip="Editar empleado" (click)="modalUpdate(employee)" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
        <mat-icon>manage_accounts</mat-icon>
      </button>
      <button mat-icon-button color="warn" aria-label="Eliminar empleado" matTooltip="Eliminar empleado" (click)="modalDelete(employee)">
        <mat-icon>person_remove</mat-icon>
      </button>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
<mat-paginator class="bg-dark mb-5" color="accent" [pageSizeOptions]="[5, 10, 20]"
               showFirstLastButtons
               aria-label="Seleccionar pagina de empleados">
</mat-paginator>


<!-- Create or Update Inspection Modal -->

<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h2 class="modal-title" id="staticBackdropLabel">{{ modalTitle }}</h2>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"
                (click)="modalClose()" id="create-update-modal-close">
        </button>
      </div>
      <div class="modal-body">
        <app-create-update-employee [employee]="employee" (submittedEmployee)="feedbackCreateUpdate($event)" *ngIf="activateCreateUpdateEmployeesComponent"></app-create-update-employee>
      </div>
    </div>
  </div>
</div>

