@{
    ViewBag.Title = "Inicio";
}

<main>
    <section class="row jumbotron" aria-labelledby="aspnetTitle">
        <h1 id="title">EFApp</h1>
        <p class="lead">Supervise los empleados de su empresa de manera eficiente, fácil y diveretida.</p>
    </section>

    <div class="row">
        <section class="col-md-4" aria-labelledby="gettingStartedTitle">
            <div class="card">
                <div class="card-header">
                    <h2 id="gettingStartedTitle">Lista de Empleados</h2>
                </div>
                <div class="card-body">
                    <p>
                        Obtenga una lista completa de ellos.
                    </p>
                    <div>@Html.ActionLink("Vamos!", "Index", "Employee", new { area = "" }, new { @class = "btn btn-outline-dark" })</div>
                </div>
            </div>
        </section>
        <section class="col-md-4" aria-labelledby="librariesTitle">                                   
            <div class="card">
                <div class="card-header">
                    <h2 id="librariesTitle">Alta, Baja y Modificación</h2>
                </div>
                <div class="card-body">
                    <p>Administrelos de manera intuitiva y simple.</p>
                    <p><a class="btn btn-outline-dark" href="https://go.microsoft.com/fwlink/?LinkId=301866">Vamos! &raquo;</a></p>
                </div>
            </div>
        </section>
        <section class="col-md-4" aria-labelledby="hostingTitle">                        
            <div class="card">
                <div class="card-header">
                    <h2 id="hostingTitle">Reportes</h2>
                </div>
                <div class="card-body">
                    <p>Un listado de reportes que pueda necesitar.</p>
                    <p><a class="btn btn-outline-dark" href="https://go.microsoft.com/fwlink/?LinkId=301867">Vamos! &raquo;</a></p>
                </div>
            </div>
        </section>
    </div>
</main>