#guess-form {
    width: 50%;   
    margin: 0 auto; 
}

#guess-form #guess{
    padding: 20px 0px;
    width: 200px;
    margin-bottom: 50px;
    border-radius: 3px;
    border: 1px solid lightgray;
    box-shadow: none;
    text-align: center;
    font-family: var(--custom-font);
    margin: 0 auto 50px;
    display: block;
}

#guess-form #guess:focus-visible {
    outline-color: grey;
}

button {
    padding: 15px 15px;
    color: white;
    border: none;
    border-radius: 3px;
    width: fit-content;
    margin: 0 auto 20px;
    display: block;
    font-family: var(--custom-font);
    transition: ease-out 0.2s;
    box-shadow: 2px 2px 3px #595959;
}

button#send {
    background-color: #009900;
}

button#reset {
    background-color: #c24040;
    left: 5px;
    top: 10px;
    position: absolute;
}

button:hover {
    cursor: pointer;
    transition: ease-in 0.2s;
}

button#send:hover {
    background-color: #006900;
}

button#reset:hover {
    background-color: rgb(165, 42, 42);
}

