<div class="container py-4">
  <div class="p-5 mb-4 bg-body-tertiary rounded-3">
    <div class="container-fluid py-5">
      <h1 class="display-5 fw-bold">EFApp.Angular</h1>
      <p class="col-md-8 fs-4">Presentación del ABM de Empleados para el último TP del <b>LabNet2023</b>.</p>
    </div>
  </div>

  <div class="row align-items-md-stretch">
    <div class="col-md-6">
      <div class="h-100 p-5 text-bg-dark rounded-3">
        <h2>Integraciones</h2>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">.NET Framework</li>
          <li class="list-group-item">Angular</li>
          <li class="list-group-item">SweetAlert</li>
          <li class="list-group-item">Bootstrap</li>
          <li class="list-group-item">Angular Material</li>
          <li class="list-group-item">Angular Unit Test:<br/>
            <code>ng test --include='**/employees.service.spec.ts'</code>
          </li>
        </ul>
      </div>
    </div>
    <div class="col-md-6">
      <div class="h-100 p-5 bg-body-tertiary border rounded-3">
        <h2>Feedback del Lab</h2>
        <p>Son todos unos grosos! Se agradece inmensamente la <b>predisposición</b> y la <b>paciencia</b> para
        explicar los conceptos y las prácticas. Estoy más que conforme con lo aprendido y lo logrado. 💪         
        </p>
        <br/>
        <p>Muchas gracias nuevamente!!! 😁</p>               
      </div>
    </div>
  </div>
</div>
